<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon.png"
    />
    <link rel="stylesheet" href="/style.css" />

    <title>Frontend Mentor | Planets fact site</title>
  </head>
  <body>
    <header>
      <a class="logo" href="/index.html">the planets</a>
      <nav>
        <ul>
          <li id="mercury"><a href="/index.html">mercury</a></li>
          <li id="venus"><a href="venus.html">venus</a></li>
          <li id="earth"><a href="earth.html">earth</a></li>
          <li id="mars"><a href="mars.html">mars</a></li>
          <li id="jupiter"><a href="jupiter.html">jupiter</a></li>
          <li id="saturn"><a href="saturn.html">saturn</a></li>
          <li id="uranus"><a href="uranus.html">uranus</a></li>
          <li id="neptune"><a href="neptune.html">neptune</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="infos">
        <div class="img">
          <img src="/assets/planet/planet-uranus.svg" alt="" id="planetImage" />
        </div>

        <div>
          <h1>Uranus</h1>
          <p id="planetTextUranus">
            Uranus is the seventh planet from the Sun. Its <br />name is a
            reference to the Greek god of the <br />sky, Uranus according to
            Greek mythology,<br />
            was the great-grandfather of Ares. It has <br />the third-largest
            planetary radius and <br />fourth-largest planetary mass in the
            Solar System.
          </p>

          <h2 id="link">
            Source:
            <a id="wikiLink" href="https://en.wikipedia.org/wiki/Uranus">
              Wikipedia
              <img id="source" src="/assets/icon-source.svg" alt="Source icon"
            /></a>
          </h2>

          <div class="btns">
            <button id="overviewButton">
              <h2>01</h2>
              Overview
            </button>
            <button id="internalStructureButton">
              <h2>02</h2>
              Internal Structure
            </button>
            <button id="surfaceGeologyButton">
              <h2>03</h2>
              Surface Geology
            </button>
          </div>
        </div>
        <!-- Internal Structure Content Start 
    
        The standard model of Uranus's structure is that it consists of three
        layers: a rocky (silicate/iron–nickel) core in the centre, an icy mantle in
        the middle and an outer gaseous hydrogen/helium envelope. The core is
        relatively small, with a mass of only 0.55 Earth masses. Source : Wikipedia
         URL: https://en.wikipedia.org/wiki/Uranus#Internal_structure 
    
         Internal Structure Content End 
    
         Surface Geology Content Start 
    
        The composition of Uranus's atmosphere is different from its bulk,
        consisting mainly of molecular hydrogen and helium. The helium molar
        fraction, i.e. the number of helium atoms per molecule of gas, is 0.15±0.03
        in the upper troposphere. Source : Wikipedia
         URL: https://en.wikipedia.org/wiki/Uranus#Atmosphere 
    
         Surface Geology Content End -->
      </div>

      <div class="statics">
        <div class="stat">
          <h1>Rotation Time</h1>
          <h2>17.2 Hours</h2>
        </div>
        <div class="stat">
          <h1>Revolution Time</h1>
          <h2>84 Years</h2>
        </div>
        <div class="stat">
          <h1>Radius</h1>
          <h2>25,362 KM</h2>
        </div>
        <div class="stat">
          <h1>Average Temp.</h1>
          <h2>-195°c</h2>
        </div>
      </div>

      <div class="attribution">
        <span>Challenge by&nbsp;</span
        ><a
          href="https://www.frontendmentor.io?ref=challenge"
          target="_blank"
          title="Go to Frontend Mentor site"
          >Frontend Mentor.
        </a>
        <span> Coded by&nbsp;</span
        ><a href="https://github.com/victoriamnx" title="Go to Github profile"
          >victoriamnx.</a
        >
      </div>

      <script src="uranus.js"></script>
    </main>
  </body>
</html>